<div class = "col-lg-8 mx-2">
    <div class="card text-center y-2 mt-4 bg-dark" style="width: 75rem;">
        <!-- Titre A propos -->
        <div class="card-header">
            <h3 class="card-title text-white">A propos</h3>
        </div>
        <!-- Texte A propos : membres du groupe et fonctionnalités de l'application -->
        <div class="card-body" class="description text-white">
            <p>Easify est un site crée à l'occasion de deux modules du semestre 6 de notre 3ème licence d'informatique qui sont Architectures logicielles pour le développement d'applications Web et Interfaces Homme-Machines.</p>
            <p> Crée par AUGEREAU Bastien, LOCHAIN Alexandre, MOQUET Alexandre.
            <br><br>
            Avec Easify on peut :
            <ul>
                <li>Afficher nos statistiques de spotify sur une periode donnée</li>
                <li>Rechercher des artistes et des titres spécifiques</li>
                <li>Créer des playlist comme on le souhaite</li>
            </ul>
            <br>
            L'application fonctionne grâce à l'API Spotify.
        </div>
    </div>
</div>
