

<div class="col-lg-2 mx-2">
    <div class="card y-2 mt-4 bg-dark" style="width: 74rem;">
        <div class="card-header">
            <h3 style="text-align:center" class="card-title text-white">Statistiques</h3>
          </div>


        <div class="card-body">
          <div class="col-2 mx-auto">
          <select class="form-select" name="choice-button" id="choice-button" placeholder="Language">
            <option value="3mois">3 mois</option>
            <option value="6mois">6 mois</option>
            <option value="1an">1 an</option>
            <option value="2ans">2 ans</option>
            <option value="Lifetime">Lifetime</option>
          </select>
          </div>
                <!-- Top artistes de l'utilisateur -->
                <h5 class='text-white'>Top Titres :<span class="tabulation"></span>Top Artistes :</h5>
                <div class="inline-div">
                <textarea name="message" class="textarea" cols="30" rows="14" disabled="1" style="background-color:#aedd94;" class="inline-txtarea"></textarea>
                </div>

                <span class="vertical-line"></span>
                <div class="inline-div">
                <textarea name="message" class="textarea" cols="30" rows="14" disabled="1" style="background-color:#aedd94;"  class="inline-txtarea"></textarea>
                </div>
        </div>
    </div>

</div>
