<!-- Button Spotify-->
<div class="row text-left py-2 mt-3">
<div class="col-12 mx-4">
  <button type="button" class="btn btn-success bg-sucess btn-lg w-auto me-3">Se connecter</button>
</div>
</div>
  <div class="container-fluid px-4">
      <h1 style="text-align:center" class="mt-4 text-white">Bienvenue sur Easify </h1>
      <div class="row py-5">
          <div class="col-xl-6 col-md-6">
              <div class="card bg-success text-white mb-4">
                  <div class="card-body">Spotify</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                      <a class="small text-white stretched-link" href="#">Details</a>
                      <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-md-6">
              <div class="card bg-success2 text-white mb-4">
                  <div class="card-body">Paroles</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                      <a class="small text-white stretched-link" href="#">Details</a>
                      <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-md-6">
              <div class="card bg-success2 text-white mb-4">
                  <div class="card-body">Playlist</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                      <a class="small text-white stretched-link" href="#">Details</a>
                      <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-md-6">
                <div class="card bg-success text-white mb-4">
                  <div class="card-body">Concerts</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                      <a class="small text-white stretched-link" href="#">Details</a>
                      <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-between">
</div>

<!-- Bloc d'affichage du formulaire de CONTACT -->
<form *ngIf="isVisibleContact">
  <app-contact></app-contact>
</form>
