<div class="col-lg-2 mx-2">
    <div class="card text-center y-2 mt-4 bg-dark" style="width: 74rem;">
        <!-- Titre du formulaire de contact -->
        <div class="card-header">
            <h2 style="text-align:center" class="card-title text-white">Contactez-nous</h2>
          </div>
        <!-- Formulaire de contact -->
        <div class="card-body">
            <!-- Utilisation de Formcarry pour traiter les messages -->
            <form action="https://formcarry.com/s/WIhklkE1-LY" method="POST">
                <!-- Nom de l'utilisateur -->
                <h4 class='text-white'> Votre nom : </h4>
                <input type="text" name="name" id="name" style="background-color:grey;">
                <br><br>
                <!-- Email de l'utilisateur -->
                <h4 class='text-white'>Votre email : </h4>
                <input type="email" name="email" id="email" style="background-color:grey;">
                <br><br>
                <!-- Message de l'utilisateur -->
                <h4 class='text-white'>Votre message : </h4>
                <textarea name="message" class="textarea" cols="50" rows="4" style="background-color:grey;"></textarea>
                <br><br>
                <!-- Bouton pour envoyer le formulaire -->
                <button class="btn btn-success animation-on-hover" type="submit" value=“Envoyer”>Envoyer</button>
            </form>
        </div>
    </div>

</div>
